---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = `Fondos de pantalla de The Last of Us para PC, Android & iPhone.`;
const description = `Descarga los mejores fondos de pantalla de The Last of Us para PC y Móvil (Android & iPhone). Fondos de pantalla estáticos y animados gratis.`;
const hreflangEn = undefined;
---

<BaseLayout title={title} description={description} hreflangEn={hreflangEn}>
  <article class="entry-content">
    <h1>The Last of Us – Fondos de Pantalla Animados [PC & Android]</h1>
    <Fragment set:html={`<p>Sumérgete en el mundo postapocalíptico de The Last of Us con fondos animados que capturan la atmósfera oscura y detallada de sus paisajes y personajes. Estas imágenes animadas de The Last of Us ofrecen fondos de pantalla en movimiento en alta definición, ideales para personalizar tu PC, Android o iPhone. Disponibles en formatos 16:9 y 9:16, los wallpapers animados recrean escenas intensas y colores sombríos que reflejan la esencia del juego.</p>
<div class="ad-afterintro-container"><div class="ad-afterintro-inner"><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9609544329602409" data-ad-slot="2203484639" data-ad-format="auto" data-full-width-responsive="true"></ins></div></div>
<h2>The Last of Us &#8211; Fondo de Pantalla Animado para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-01" data-video-src="https://mega.nz/embed/ztlHELIL#GXBLKjb4c5JkLnCcvcRMnE9btPKSwir810MNhApqSUw">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-1.webp" fetchpriority="high" alt="The Last of Us &#8211; Fondo de Pantalla Animado para PC, Android &amp; iPhone" class="wv-preview-image" / srcset="/uploads/2025/12/the-last-of-us-1-mobile.webp 651w, /uploads/2025/12/the-last-of-us-1.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/ztlHELIL#GXBLKjb4c5JkLnCcvcRMnE9btPKSwir810MNhApqSUw" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/Kt1TiDLT#dz2vooTdjGzufz9PnpmUO9EaAy3fw-F71TOppZjvXQs" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div>
<div class="ad-incontent-container">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9609544329602409"
       data-ad-slot="8926458048"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
</div>
<h2>The Last of Us &#8211; Fondo de Pantalla En Movimiento para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-02" data-video-src="https://mega.nz/embed/fh1H2QpL#oZhyLSWi_0lLqj9uQ8KOMRlkhNupHWSB7eLx0fa54G8">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-2.webp" alt="The Last of Us &#8211; Fondo de Pantalla En Movimiento para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-2-mobile.webp 651w, /uploads/2025/12/the-last-of-us-2.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/fh1H2QpL#oZhyLSWi_0lLqj9uQ8KOMRlkhNupHWSB7eLx0fa54G8" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/Gg1BFTxD#_vGfWza9LOnm_dlOYLajsMX_2TESlnQh5ZrM0nlPa2Y" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo Animado para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-03" data-video-src="https://mega.nz/embed/i5EXjIhL#Wv3UqJLFUVkyAAY2EdrjVOebAuOktozFcF5Sz1u3ne4">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-3.webp" alt="The Last of Us &#8211; Fondo Animado para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-3-mobile.webp 651w, /uploads/2025/12/the-last-of-us-3.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/i5EXjIhL#Wv3UqJLFUVkyAAY2EdrjVOebAuOktozFcF5Sz1u3ne4" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/ytU2FChT#vjVykd7rqhmcvbcR5BBg3mN66a93EaT-Y8kGPx7fM60" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us  &#8211; Fondo en Movimiento para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-04" data-video-src="https://mega.nz/embed/nwcTnKpa#cFYO3qcjRf5jNr81LRKxglmOfH0R8LON7VDA5UzU_6k">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-4.webp" alt="The Last of Us  &#8211; Fondo en Movimiento para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-4-mobile.webp 651w, /uploads/2025/12/the-last-of-us-4.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/nwcTnKpa#cFYO3qcjRf5jNr81LRKxglmOfH0R8LON7VDA5UzU_6k" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/3wskDYJB#FGkt5b4OAJCENzvVjN1A9DnqkHIFdHet2-dLwqvaf-I" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-05" data-video-src="https://mega.nz/embed/C1EClKIY#be7YsR_eJM7duPd_FoCFl73BPjFB4m1oKEuAkQFcQvo">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-5.webp" alt="The Last of Us &#8211; Fondo de Pantalla para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-5-mobile.webp 651w, /uploads/2025/12/the-last-of-us-5.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/C1EClKIY#be7YsR_eJM7duPd_FoCFl73BPjFB4m1oKEuAkQFcQvo" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/OtEkWSxA#Mg9geWR6Wv5vajrcgnnMs_SF9TsP7hTV6Cj9cTVVs00" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla Animado</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-06" data-video-src="https://mega.nz/embed/b5EnTbAZ#LtZoQ3JVI02fW7TUlDrkKvlRxnnBwTmWmaCkU8enBm0">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-6.webp" alt="The Last of Us &#8211; Fondo de Pantalla Animado" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-6-mobile.webp 651w, /uploads/2025/12/the-last-of-us-6.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/b5EnTbAZ#LtZoQ3JVI02fW7TUlDrkKvlRxnnBwTmWmaCkU8enBm0" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/r9F3mLpS#O6nTwsX03odnAdEEb1vZNkiil-JnIAWekS1PlHvR9vc" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla Animado para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-07" data-video-src="https://mega.nz/embed/Xk8XzRgD#Mr4GrgvukqWRO0eZgS43OK0EfLkYUstx9hIn3y0kI7A">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-7.webp" alt="The Last of Us &#8211; Fondo de Pantalla Animado para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-7-mobile.webp 651w, /uploads/2025/12/the-last-of-us-7.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/Xk8XzRgD#Mr4GrgvukqWRO0eZgS43OK0EfLkYUstx9hIn3y0kI7A" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/WssgXbib#9lp3AqzB3QEhDqRh4sMf6GbAucESP65Vyd93a-uQjwo" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla En Movimiento para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-08" data-video-src="https://mega.nz/embed/f4t3AY7K#6i6ivzwbChZN7moq0qXS_YH-GDdDoL0cHYfaXqvwxu0">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-8.webp" alt="The Last of Us &#8211; Fondo de Pantalla En Movimiento para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-8-mobile.webp 651w, /uploads/2025/12/the-last-of-us-8.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/f4t3AY7K#6i6ivzwbChZN7moq0qXS_YH-GDdDoL0cHYfaXqvwxu0" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/uplwWbZK#NQF8iI52it3aIeWSUFxtYy27OElXfeJWXVMkZ_V9_I0" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo Animado para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-09" data-video-src="https://mega.nz/embed/bkFVkAbA#9dexgcWRVMvp0nRzAxao_kqy9Ulf5tn2xa4be2VaIMA">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-9.webp" alt="The Last of Us &#8211; Fondo Animado para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-9-mobile.webp 651w, /uploads/2025/12/the-last-of-us-9.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/bkFVkAbA#9dexgcWRVMvp0nRzAxao_kqy9Ulf5tn2xa4be2VaIMA" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/HskVmQBD#CLe4Ge8Gf_vvgJbsclJRgfAlmBGE-6qQYOK7ZvwPpKY" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us  &#8211; Fondo en Movimiento para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-10" data-video-src="https://mega.nz/embed/CslnlJxQ#q4trBPBGLSNRwNOBQIrDQPt-bNUNErZFrYHIl2OUF5o">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-10.webp" alt="The Last of Us  &#8211; Fondo en Movimiento para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-10-mobile.webp 651w, /uploads/2025/12/the-last-of-us-10.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/CslnlJxQ#q4trBPBGLSNRwNOBQIrDQPt-bNUNErZFrYHIl2OUF5o" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/K1cEDJgJ#B7_yFKKMiXzBDOS5XJf0H86qgkkLlbj_DaXVVrw4HCM" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-11" data-video-src="https://mega.nz/embed/ulE11ZyY#NeYUJggBJGM5LtPiZ8T-HYyh1wAczJVj-GnyujBs0UU">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-11.webp" alt="The Last of Us &#8211; Fondo de Pantalla para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-11-mobile.webp 651w, /uploads/2025/12/the-last-of-us-11.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/ulE11ZyY#NeYUJggBJGM5LtPiZ8T-HYyh1wAczJVj-GnyujBs0UU" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/z1EhhLoD#7rf7Oz-51ww5LmuqlDGv9kjrW-XPmCAsHEh1bk3WreA" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla Animado para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-13" data-video-src="https://mega.nz/embed/24FWlYKJ#h6SKAPfl6v3l546ngnEZNWxvbhfdQ89_xAn63HrP088">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-13.webp" alt="The Last of Us &#8211; Fondo de Pantalla Animado para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-13-mobile.webp 651w, /uploads/2025/12/the-last-of-us-13.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/24FWlYKJ#h6SKAPfl6v3l546ngnEZNWxvbhfdQ89_xAn63HrP088" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/OpFDCLbA#Y5wJsIbjq9v_HWfWPCwNiT8iczgNR_DjLy9Eo7L5wrY" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div><h2>The Last of Us &#8211; Fondo de Pantalla En Movimiento para PC, Android &amp; iPhone</h2>

<div class="wv-wallpaper" id="the-last-of-us-wallpaper-14" data-video-src="https://mega.nz/embed/60NWSSZR#DV1a5Q4ErzwHb7bK9QoQGtqvoF1yY9mOQzQmLqDsS48">
  <div class="wv-media">
    <div class="wv-preview">
      <img src="/uploads/2025/12/the-last-of-us-14.webp" alt="The Last of Us &#8211; Fondo de Pantalla En Movimiento para PC, Android &amp; iPhone" class="wv-preview-image" loading="lazy"/ srcset="/uploads/2025/12/the-last-of-us-14-mobile.webp 651w, /uploads/2025/12/the-last-of-us-14.webp 1000w" sizes="(max-width: 850px) 240px, 1000px">
      <button type="button" class="wv-play-button" aria-label="Play live wallpaper"></button>
    </div>

    <div class="wv-video-container" data-loaded="false">
    </div>
  </div>

  <div class="wv-downloads">
    <a href="https://mega.nz/file/60NWSSZR#DV1a5Q4ErzwHb7bK9QoQGtqvoF1yY9mOQzQmLqDsS48" download target="_blank" rel="noopener">Descargar MP4 (16:9)</a>
    <a href="https://mega.nz/file/Tpt1UaJR#UeHmzZvNudsp-eB1ta-a9f-nlM4iE4deCzc44xzs0Vc" download target="_blank" rel="noopener">Descargar MP4 (9:16)</a>
  </div>
</div>

<h2>The Last of Us: Fondos e imágenes con la estética postapocalíptica</h2>
<p>The Last of Us es un videojuego que ha marcado un antes y un después en el género de acción y aventura, destacándose por su narrativa profunda y su universo postapocalíptico. La historia sigue a Joel y Ellie, dos personajes complejos que deben sobrevivir en un mundo devastado por una pandemia, enfrentando tanto amenazas humanas como infectados. Su estilo visual combina escenarios desolados con detalles realistas y atmosféricos, creando una estética única que transmite tensión y emoción.</p>
<p>Los fondos y wallpapers inspirados en The Last of Us capturan esta esencia, mostrando paisajes urbanos en ruinas, personajes en momentos clave y ambientes cargados de dramatismo. Estas imágenes son ideales para quienes buscan un estilo visual impactante y lleno de significado, reflejando la lucha, la esperanza y la supervivencia que caracterizan a este universo.</p>`} />
  </article>
</BaseLayout>
